<div class="container p-4">
    <div class="row">
        {{#each allData.pantones }}
            <div class="col, mt-3">
                <div class="card text-center">
                    <div class="card-body">

                        <a href="pantones/search/{{cliente}}">
                            <h3 class="card-tittle text-uppercase">
                                {{cliente}}
                            </h3>
                        </a>
<!--
                            {{#if ../allData.permisos}}
                        <a href="pantones/delete/{{ id }}" class="btn btn-danger" onclick="return confirm('Estas seguro?')">Borrar</a>
                        <a href="pantones/editc/{{ cliente }}" class="btn btn-secondary">Editar</a>
                            {{/if}}
-->
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>No hay pantones de este cliente aun!.</p>
                    <a href="pantones/add">Agrega un pantone</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>